autopep8==1.5.3
cycler==0.10.0
decorator==4.4.2
elkai==0.0.9
geographiclib==1.50
geopy==2.0.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.2
mlrose-hiive==2.1.3
networkx==2.4
numpy==1.19.0
ortools==7.7.7810
pandas==1.0.5
plotly==4.8.2
protobuf==3.12.2
pycodestyle==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
retrying==1.3.3
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.1
